<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photoshoot AI - 404
    </title>
    <meta name="description"
        content="Elevate your pics, skip the shoot. With the power of AI, generate professional grade pictures from the confort of your couch.">

    <meta name="theme-color" content="black">
    <link rel="icon" href="assets/logo/icon.png">

    <link rel="stylesheet" href="404.css">

    <script src="transition.js" defer></script>
    <script type="module" src="gradient-import.js" defer></script>
</head>

<body>
    <div id="transition"></div>

    <main>
        <img id="logo" src="assets/logo/icon.png" alt="Photoshoot AI">
        <h1>404</h1>
        <h2>Page not found</h2>
        <a href="./">Go home</a>
    </main>

    <canvas id="gradient" data-transition-in></canvas>

</body>

</html>