<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photoshoot AI - Reset password
    </title>
    <meta name="description"
        content="Elevate your pics, skip the shoot. With the power of AI, generate professional grade pictures from the confort of your couch.">

    <meta name="theme-color" content="black">
    <link rel="icon" href="assets/logo/icon.png">

    <link rel="stylesheet" href="setup.css">
    <script src="reset-password.js" defer></script>
    <script src="transition.js" defer></script>
    <script type="module" src="gradient-import.js" defer></script>
</head>

<body>
    <div id="transition"></div>

    <main>
        <div id="content">
            <div id="form">
                <div id="nav">
                    <div id="links">
                        <a class="skip_fade" href="mailto:support@photoshootai.app">Need help?</a>
                        <a href="./signin">Sign In</a>
                    </div>
                </div>

                <div id="section_container">
                    <div id="section_2" class="sections visible">
                        <h3>The worst is behind!</h3>
                        <h1>Reset password</h1>

                        <form>
                            <input id="email" type="email" placeholder="Email" autocomplete="email" value="<%= email %>"
                                readonly>

                            <div id="password_container">
                                <input id="password" type="password" placeholder="New password"
                                    autocomplete="new-password" onblur="validatePassword(this.value)">
                                <img id="password_view" class="hidden" src="assets/icons/eye.png">
                            </div>

                            <p id="error">&nbsp;</p>

                            <br>

                            <button id="reset_password" type="button"
                                style="width: 100%; max-width: 200px; margin: auto;" onclick="resetPassword()"
                                disabled>Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="gradient" data-transition-in></canvas>
    </main>

</body>

</html>